*{
	margin: 0;
	padding: 0;
}

body{
	    background-color: #e9ebee !important;
	top: 0;
}

.row{
    margin: 0;
}

.topBar{
	background-color: #FFFFFF;
    width: 1;
    height: 65px;
    position: relative;
	box-shadow: 0px 6px 25px #888888;
}


.container-fluid{
    padding: 11px;
}

.item-topBar{
    position: relative;
    left: 330px;
}

.sideBar{
    width: 170px;
    height: 100vh;
	left: 0px;
    top: 100px;
    position: fixed;
}

.sideBar a{
	display: block;
    text-align: center;
    margin: 30px 0px;
}

.box-container{
	background-color: #FFFFFF;
    width: 75%;
    height: 60px;
    left: 18%;
    top: 50px;
    position: relative;
    margin: 10px 20px;
	box-shadow: 0px 6px 25px #888888;
    border-radius: 5px;
	
}

.propreties-itens{
	display: inline;
    position: relative;
    float: left;
}


.box-container form input{
    border: none;
    text-align: left;
    margin: 7px 11px;
    display: inline;
	padding: 0px 21px;
}

.box-container form button{
    float: right;
    margin: 11px 16px;
}


.box-container form span{
    display: block;
    padding: 0px 31px;
    position: relative;
    top: 8px;
    font-size: 12px;
}

.selector {
    color: red;
    background: #D1CDCD;
    font-weight: bold;
    font-family: Helvetica;
}