body{
    background-color: #e9ebee !important;
    top: 0;
}

.header-navbar .container-fluid{
    background-color: #FFFFFF;
    box-shadow: 0px 5px 15px #6c757d;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-navbar--itens{
    display: flex;
}

.header-navbar--user{
    width: auto;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0px 10px;
}

.input-group{
    width: 364px;
    height: 54px;
    background-color:#f2f3f5;
}

.body-project{
    margin: 3%;
    display: flex;
    flex-direction: column;
}

.body-project--product{
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
}

.form-control{
    background-color: #f2f3f5 !important;
    border: 1px solid transparent;
}

.body-project--navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.body-project--options{
    display: flex;
    align-items: center;
    margin: 31px;
}

.body-project--addbutton{
    display: flex;
    align-items: center;
}

.body-project--boxinfo{
    background-color: #FFFFFF;
    width: 70%;
    height: 60px;
    box-shadow: 0px 3px 25px #888888;
    border-radius: 5px;
    display: flex;
    flex-grow: 1;
    margin: 6px 25%;
}

.body-project--boxproduct{
    background-color: #FFFFFF;
    position: relative;
    left: 24%;
    width: 29%;
    height: 300px;
    box-shadow: 0px 3px 25px #888888;
    border-radius: 5px;
    display: inline-block;
    margin: 6px 6px;
}

.body-project--form{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.box-container-add{
    width: 75%;
    height: 60px;
    left: 25.6%;
    top: -40px;
    position: relative;
    margin: 10px 20px;  
}

.propreties-itens{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 2%;
}

.propreties-itens input{
    border: none;
    width: 100%;
}

.propreties-itens--inputid{
    width: 35px !important;
}

.body-project--formimage{
    width: auto;
    height: 150px;
    background: #cccccc;
    display: block;
}

.body-project--formbuttons{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 10px;
}


.body-project--formbutton{
    width: auto;
    height: 20px;
    margin: 6px;
}

.btn {
    cursor: pointer;
}

.body-project--title{
    font-size: 24px;
    margin: 0px 25px;
}

.link-selected{
    color: #d9534f !important;
    font-family: calibri;
    font-weight: 900;
    font-size: 18px;
    margin-left: 25px;
}

.body-project--gu a,
.body-project--au a,
.body-project--gc a,
.body-project--ac a,
.body-project--gp a,
.body-project--ap a{
    color: #000000;
}

.body-project--gu a:hover,
.body-project--au a:hover,
.body-project--gc a:hover,
.body-project--ac a:hover,
.body-project--gp a:hover,
.body-project--ap a:hover{
    color: #d9534f;
    font-family: calibri;
    font-weight: 900;
    font-size: 20px;
}

a:visited, 
a:link,
a:active{
    text-decoration: none;
}


.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #f7f7f7;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

#login{
    background: url('../img/OH3C8A0.jpg') no-repeat center fixed;
    background-size: cover;
    background-color: #1b1e21;
}

.invisivel{
	display:none;
}